@font-face {
   font-family: "Barlow Bold";
   src: url("fonts/Barlow Bold.woff") format("woff"), url("fonts/Barlow Bold.eot") format("embedded-opentype"), url("fonts/Barlow Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}